*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 15px 10px;
}
/* Top Nav Styles */
#topnav{
    min-height: 20px;
    background-color: black;
}


/* Header Styles */
header{
    min-height: 50px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.281);
    z-index: 2000;
    position: sticky;
    top: 0;
}
#logo_div{
    min-height: 20px;
    flex: 1;
}
#logo_div img{
   max-height: 40px; 
}
#navbar{
    min-height: 20px;
    flex: 3;
    text-align: right;
}
#navbar ul li{
    list-style-type: none;
    display: inline-block;
}
#navbar ul li a{
    text-decoration: none;
    color: rgb(26, 25, 25);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.2s linear;
}
#navbar ul li:not(:last-child) a:hover{
    background-color: #fd4d50;
    color: white;
}
#navbar ul li span{
    margin-left: 15px;
}
#nav-toggler{
    float: right;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.281);
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

@media (max-width: 840px) {
    .container{
        display: block;
    }
}
@media (max-width: 767px) {
    #navbar{
        /* display: none; */
        text-align: left;
    }
    #navbar ul li{
        display: block;
    }
    #nav-toggler{
        display: block;
    }
    #navbar ul li a{
        display: block;
        padding: 10px 15px;
    }
    .open{
        left: 0 !important;
    }
}

/* Re-Positioning the navbar for mobile */
#mb_logo{
    display: none;
    text-align: center;
    padding: 15px 1px;
    border-bottom: thin solid rgba(0, 0, 0, 0.281);
    font-family: "Script";
    color: rgb(49, 47, 47);
    font-size: 1.5rem;
}
#mb_logo img{
    max-width: 50px;
    margin: auto;
}
@media (max-width: 767px) {
    #mb_logo{
        display: block;
    }
    #navbar{
        position: fixed;
        left: -250px;
        top: 0;
        background-color: white;
        width: 250px;
        height: 100vh;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
        transition: left 0.5s ease-in-out;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* Overlay Styles */
#overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.581);
    left: 0;
    top: 0;
    display: none;
    transition: opacity 0.5s linear;
}

/* Home Banner */
#banner{
    min-height: 400px;
    background-color: lightgray;
}
#banner > div.container{
    background-image: url('../imgs/lady.png');
    background-repeat: no-repeat;
    background-position: right top;
}
#banner_text{
    min-height: 400px;
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-shadow: 0 0 10px lightgray;
}
#banner_text h4{
    font-size: 1.8rem;
    margin: 10px auto;
}
#banner_text h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
#banner_text button{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1.1rem;
    border: none;
    background-color: #fd4d50;
    background: -webkit-linear-gradient(top, #fd4d50, #c92c2e);
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
    transition: all 0.5s linear;
}
#banner_text button:hover{
    background: -webkit-linear-gradient(bottom, #fd4d50, #c92c2e);
}

@media (max-width:600px) {
    #banner_text{
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 5px;
        color: white;
        text-shadow: 0 0 0 lightgray;
    }
}
